body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:focus {
  opacity: 0.6;
}
a:active {
  opacity: 0.3
}
.zero-letter-spacing {
  letter-spacing: 0;
}

/* Класс визуально скрывающий элементы */
.visually-hidden {
  display: none; /* Пока так потом скрою для читалок правильно*/
}

/* Класс обнуляющий стили списка*/
.no-list {
  list-style: none;
  padding: 0;   /* Вот где была проблема с отступами где я спрашивал) */
}
/* Класс для SVG*/
svg image {
  filter: url(#linear);
}
svg image:hover{
  filter: none;
}

/* Кнопки */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  min-width: 180px;

  font: inherit;
  text-align: center;
  line-height: 70px;

  background-color: transparent;

  border: 1px solid green;
}
.button:before {
  content: '';

  position: absolute;
  top: 15px;
  left: -1px;

  height: 8px;
  width: 100%;
  border: 1px solid red;

  background-color: #f0c52e ;
  z-index: -1;

}
.button:hover,
.button:focus {
  background-color: #f0c52e;
  height: 40px;
  opacity: 1;
}
.button:active span {
  opacity: 0.3;
}
.button-offers {
  width: 220px;
}
.button-services {
  width: 160px;
}
.button-services:active {
  width: 278px;

  color: #f7e184;
  text-align: left;

  background-color: #000000;
}
.button-about-us,
.button-contacts {
  width: 260px;
}

/* Хеадер  */
.header-main,
.header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 1160px;
  height: 299px;
  margin: 40px auto;

  background-color: rgba(240, 197, 46, 0.5);
  background-position: center;
  background-repeat: repeat;
}
.header {
  height: 186px;
}
.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}
.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}
.header-logo:active{
  opacity: 0.3;
}
.search {
  margin-right: auto;
  margin-top: 41px;
  margin-left: 99px;
  border: 1px solid red;
}
.search-form {
      /*Удалить потом*/
  border: 1px solid blue;     /*Удалить потом*/
}
 .search input {
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
  border: 0px solid transparent;
}
.search input:hover {
  opacity: 0.6;
}
.search input:focus {
  opacity: 1;
}
.header-upper-menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 42px;
  margin-right: 61px;
  width: 500px;

  border: 1px solid green;
}
.header-upper-menu li{
  border: 1px solid black;
}
.user-name {
  margin-right: 15px;
}
.user {
  margin-right: auto;
}
.user-exit {
  opacity: 0.3
}
.compare {
  margin-right: 60px;
}
.header-main nav,
.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid orange;
  margin-top: 2px;
  border: 1px solid blue;
}
.header-catalog-menu {
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.catalog-menu-catalog,
.header-lower-menu a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.catalog-menu-catalog {
  display: block;
  height: 30px;
  padding-top: 3px;
  padding-left: 56px;
  border: 1px solid green;
}
.catalog-menu-2:after {
  content: "";
  position: absolute;
  top: 26px;
  left: -59px;
  height: 113px;
  width: 1160px;
  background-color: rgba(240, 197, 46, 0.5);
  z-index: -1;
  display: none;

}
.header .catalog-menu-catalog:hover ~ .catalog-menu-2:after
{
  opacity: 1;
  display: block;
}
.catalog-menu-2 {
  position: absolute;
  top: 50px;
  left: 57px;
  justify-content: flex-start;
  width: 557px;
  z-index: 10;
  display: none;
}
.catalog-menu-catalog:hover ~ .catalog-menu-2 {
  display: flex;
}


.catalog-menu-2 ul:first-child {
  flex-basis: 200px;
  margin-right: 40px;
}
.catalog-menu-2 ul:last-child {
  margin-left: auto;
}
.catalog-menu:hover .catalog-menu-2 {
  display: flex;
}
.header-lower-menu {
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
  margin-right: 60px;
  width: 500px;
}
.header-lower-menu li {
  border: 1px solid orange;

}
.varanty {
  margin-left: 39px;
}
.contacts {
  margin-left: auto;
  margin-right: 0;
}
.contacts a {
  margin-right: 0;
  padding-right: 0;
}

/* Основное содержимое */
   /*Спецпредложения*/
.offers td {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.offers th {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.slogan {
  font-family: "Gilroy", sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.17px;
}
.button {
  font-family: "Gilroy", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

/* Краткий каталог */
.landing-catalog a {
  font-family: "Gilroy", sans-serif;

  background-color: rgba(240, 197, 46, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.landing-catalog a:hover,
.landing-catalog a:focus {
  background-color: rgba(240, 197, 46, 1);
  opacity: 1;
}
.landing-catalog a:active img {
  opacity: 0.3;
}

/* Cервисы */
.services h3,
.about-us h2,
.contacts h2 {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.21px;
}

/* Логотипы */
.logotypes a {
  filter: grayscale(100%);
  opacity: 0.2;
}
.logotypes a:hover,
.logotypes a:focus {
  filter: grayscale(0%);
  opacity: 1;
}

/* О нас */
.about-us p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.about-us li {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}


/* Футер */
.footer-main {
  background-color: #464646;
  border: 1px solid transparent;
  padding-top: 50px
}

.footer-upper-menu,
.footer-lower-menu,
.links {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  border: 1px solid blue;
}
.footer-upper-menu {
  justify-content: space-between;
  align-items: center;
}
.upper-menu-list {
  display: flex;
  border: 1px solid red;
}
.upper-menu-list a {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 36px;
}
.upper-menu-list a:hover,
.upper-menu-list a:focus {
  opacity: 1;
}
.upper-menu-list a:active {
  opacity: 0.3;
}
.lower-menu-list a {
  color: #ffffff;
}
.footer-lower-menu address {
  color: #ffffff;
}
.tel {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.links li a {
  opacity: 0.3;
}
.links li a:hover,
.links li a:focus {
  opacity: 0.6;
}
.links li a:active {
  opacity: 0.1;
}

/* Всплывающее окно "Напишите нам"*/
.write-us label {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.write-us input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* Каталог */
.container h1 {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.17px;
}
.breadcrumbs a {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  opacity: 0.3;
}

/* Фильтр */
.vertical-filter legend {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
                              /* Убрать обводку  */
}
.vertical-filter label {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}
.horizontal-filter span {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.horizontal-filter a {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* Сами товары */
.item-name {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.item-price {
  color: #464646;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.back-forward li {
  color: #000000;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.page {
  opacity: 0.3;
}
/* Модальные окна */

.write-us,
.big-map
{
  display: none;
}
